._3Y_cH {
  background: #000;
  padding: 70px 0 150px 0;
  color: #828282;
  position: relative;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

._6KVz3 {
  max-width: 1300px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

._25R71 {
  margin-bottom: 20px;
}

.FkKqx {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 20px;
}

.FkKqx > * {
  margin-bottom: 50px;
  width: 20%;
}

._3hadz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

._1G6aZ {
  margin: -10px;
}

._1G6aZ > * {
  padding: 10px;
}

._2cY1l {
  color: #dcad54;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0 0 30px 0;
}

h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

/* .yjP3K {
}

._3KAIF {
} */

.hbkaC {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.hbkaC > *:not(:last-child) {
  margin-bottom: 8px;
}

._25R71 a {
  font-size: 14px;
  -webkit-transition: color 300ms ease-out;
  transition: color 300ms ease-out;
}

._2m4ub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 40px;
}

._1nSqa {
  margin: -10px;
}

._1nSqa > * {
  margin: 10px;
}

._2KOJq {
  padding-left: 5px;
  padding-right: 5px;
}

._1Aitw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

._1hnuK,
._1hnuK:visited {
  color: #fff;
}

div {
  display: block;
}

.Rg0RB:hover {
  background: #1a1a1a;
  -webkit-transition: background-color 300ms cubic-bezier(0.6, 0.3, 0, 1);
  transition: background-color 300ms cubic-bezier(0.6, 0.3, 0, 1);
}

._3CFck {
    display: none;
}

.FkKqx>* {
    margin-bottom: 50px;
    width: 20%;
}

._1G6aZ>* {
    padding: 10px;
}

@media (max-width: 1023px) {
  ._3CFck {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: block;
  }
  .FkKqx > * {
    width: 33.33333%;
  }
}

.EZNTe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

._2H0mR {
    margin: 0 auto 80px auto;
    max-width: 800px;
}

._20I6t {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;
}

.EZNTe>* {
    margin: 10px 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

svg:not(:root) {
    overflow: hidden;
}

._20I6t svg {
    margin-right: 5px;
}
.EZNTe svg {
    margin: 10px 15px;
}
svg:not(:root) {
    overflow: hidden;
}

._36_oP {
    text-align: center;
    font-size: 12px;
    line-height: 2;
}